doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tree of Savior

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='icon', type='image/png', href='../images/GitHub-Mark-32px.png')

  body
  

    article

      section.test1
        h1 Tugas Projek TKPPL



      section.test2
        hi Judul : Tree of Savior

        h Nama Kelompok :

        ol.bullet

            li Vincent - 14.111.0604

            li Steven - 14.111.1553

            li Calvin Setiawan - 14.111

            li Riady Kusumo -14.111


      section.test3
        h2 Tree Of Savior
        <img alt="test" src="../images/tos.jpg"  width = 70% height =70% />

      section.test4
        h2 Kelebihan dari game TOS  


        p Keunikan dari game ini bisa dilihat dari jumlah character class-nya yang begitu banyak.  Tree of Savior memiliki empat karakter dengan 18 sampai 20 pilihan subclass per-karakternya. Varian Character class ini memang tidak bisa ditemui di game MMORPG lainnya. 

        br

        p Bahkan, beberapa subclass yang terdengar asing di dunia MMORPG pun banyak hadir dalam game ini, mulai dari Bokor, Dievdirbys, Wugushi, Chronomancer, Sadhu, Schwarzer Reiter, Linker, Peltasta, dan masih banyak lagi.

        

      section.test5
        h2 job basic Dalam Tree of Savior
        <img alt="test" src="../images/first.png"/ width = 85% height =50%>


      section.test6
        h3 Archer
        <img alt="test" src="../images/archer.png"/>

        

        
          
      section.test7
        h3 skill
        table 
          tr
            td <img alt="test" src="../images/a1.png"/> 
            td Swift Step 
            td CD : 36s
            td Sp : 10
            td Sementara meningkatkan kecepatan gerakan dan evasion saat bergerak .
          tr
            td<img alt="test" src="../images/a2.png"/> 
            td Multi Shot
            td CD : 14s
            td Sp : 8
            td Dengan cepat Menembakkan  sejumlah panah di daerah yang ditargetkan .
          tr
            td<img alt="test" src="../images/a3.png"/> 
            td Full Draw
            td CD : 20s
            td Sp : 10
            td Tarik tali busur untuk menghasilkan tembakan yang sangat menusuk . musuh disekitarnya terkena damage .
          tr
            td<img alt="test" src="../images/a5.png"/> 
            td Oblique Shot
            td CD : 0s
            td Sp : 8.5
            td Menembakkan panah yang memantul dari target untuk memukul musuh yang berdekatan

      section.test8
        h2 Cleric 
        <img alt="test" src="../images/cleric.png"/>

      section.test9
        h4 skill
        table 
          tr
            td <img alt="test" src="../images/c1.png"/> 
            td Heal
            td CD : 22s
            td Sp : 12
            td Menciptakan lingkaran sihir di depan Anda ,Jumlah HP pulih tergantung pada HP maksimum target
          tr
            td<img alt="test" src="../images/c2.png"/> 
            td Cure
            td CD : 27s
            td Sp : 13
            td Menciptakan lingkaran sihir yang menghilangkan Lv1 penyakit status dari sekutu .
          tr
            td<img alt="test" src="../images/c3.png"/> 
            td Safety Zone
            td CD : 48s
            td Sp : 16
            td Menciptakan lingkaran sihir yang blok yang masuk serangan .
          tr
            td<img alt="test" src="../images/c4.png"/> 
            td Deprotected Zone
            td CD : 13s
            td Sp : 15
            td Menciptakan lingkaran sihir yang menurunkan pertahanan musuh dari waktu ke waktu .
      section.test10
          h2 Swordman 
        <img alt="test" src="../images/swordman.png"/>
      section.test11
           h4 skill
        table 
          tr
            td <img alt="test" src="../images/s1.png"/> 
            td Thrust
            td CD : 0s
            td Sp : 8
            td Dorong senjata ke musuh , melakukan serangan menusuk dengan kuat 
          tr
            td<img alt="test" src="../images/s2.png"/> 
            td Bash
            td CD : 6s
            td Sp : 8
            td Menimbulkan kerusakan pada musuh dengan serangan kuat .
          tr
            td<img alt="test" src="../images/s3.png"/> 
            td Gung Ho
            td CD : 40s
            td Sp : 7
            td  sementara meningkatkan serangan Anda , sekaligus mengurangi pertahanan Anda
          tr
            td<img alt="test" src="../images/s4.png"/> 
            td Concentrate
            td CD : 20s
            td Sp : 11
            td Meningkatkan kerusakan  serangan Anda .

      section.test12

      section.test13

      section.test14
        h3 44 job dalam tree of savior 
        <img alt="test" src="../images/jobtos.jpg"/>

      section.test15
        h3 cara ambil skill rank 
        <img alt="test" src="../images/1.PNG"/> 

      section.test16
        h3 Selanjutnya
        <img alt="test" src="../images/2.PNG"/> 

      section.test17
        h3 Tree of Savior skill Kalkulator 
        <img alt="test" src="../images/stats.PNG"/>






    script(src='build/build.js')