doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tree of Savior

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='icon', type='image/png', href='../images/GitHub-Mark-32px.png')

  body
  

    article

      section.test1
        h1 Tugas Projek TKPPL



      section.test2
        hi Judul : Tree of Savior

        h Nama Kelompok :

        ol.bullet

            li Vincent - 14.111.0604

            li Steven - 14.111.1553

            li Calvin Setiawan - 14.111

            li Riady Kusumo -14.111


      section.test3
        <imaages alt="test" src="../images/tos.jpg" width = 30% height = 30%/>

      section.test4
        h2 Tree OF savior  


        p Keunikan dari game ini bisa dilihat dari jumlah character class-nya yang begitu banyak. Jika Dragon Nest hanya memiliki sembilan karakter dengan dua subclass per-karakter, Tree of Savior memiliki empat karakter dengan 18 sampai 20 pilihan subclass per-karakternya. Varian Character class ini memang tidak bisa ditemui di game MMORPG lainnya. Bahkan, beberapa subclass yang terdengar asing di dunia MMORPG pun banyak hadir dalam game ini, mulai dari Bokor, Dievdirbys, Wugushi, Chronomancer, Sadhu, Schwarzer Reiter, Linker, Peltasta, dan masih banyak lagi.

        

      section.test5
        h2 job basic Dalam Tree of Savior
        <imaages alt="test" src="../images/first.jpg" width = 30% height = 30%/>


      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')